<% layout("/layout/boilerplate") %>

<body>
    <form  method="post" action="/students/new">
        <input type="text" placeholder="enter name" name="name">
        <input type="text" placeholder="enter email" name="email">
        <input type="text" placeholder="enter class" name="class">
          <button>submit</button>
      </form>
</body>

